*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  min-height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #282a36;
  font-size: 62.5%;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

@media screen and (max-width: 420px) {
  html,
  body {
    font-size: 56.25%;
  }
}

.container {
  width: 50rem;
  height: 50rem;
  position: relative; /* Cambiado a 'relative' para posicionamiento absoluto */
  display: flex;
  justify-content: center;
  align-items: center; /* Asegura que el contenedor esté centrado */
}

.svg-container {
  z-index: 2;
  position: absolute;
}

.mo-container {
  width: 100%;
  height: 100%;
  font-size: 2rem; /* Incremento del tamaño del texto */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.line {
  fill: none;
  stroke: #f07046;
  stroke-width: 8;
  stroke-linecap: round;
  stroke-miterlimit: 10;
}

.lttr {
  fill: #ffffff;
}

.sound {
  position: fixed;
  color: #f7ab05;
  font-size: 2.6rem;
  bottom: 2rem;
  right: 2rem;
  text-decoration: underline;
  cursor: default;
}

.sound--off {
  text-decoration: line-through;
}
